*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bgColor:#1a1625;
    --secondarybgColor:#46424f;
    --navBgColor:#2f2b3a;
    --primaryTextColor:#fff;
    --secondaryTextColor:#908d96;
    --btnColor:#ba9ffb;
    --btnHoverColor:#9171f8;
    --btnTextColor:var(--bgColor);
    --navActiveColor:#a688fa;
    --navActiveBgColor:#1F1D33;
    --inputBoxColor:#c5bcd7;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bgColor);
    color: var(--primaryTextColor);
}
/* styling for nav */
nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index:1;
    height: 12vh;
    background-color: var(--navBgColor);
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
nav>h1{
    cursor: pointer;
    margin-left: 5px;
}
.hamburger{
    display: none;
}
.navItems{
    display: flex;
    gap:2vw
}
.navItems>a{
    padding:15px ;
    color: var(--primaryTextColor);
    text-decoration: none;

}
.navItems>a:hover{
    color: var(--navActiveColor);
    background-color: var(--navActiveBgColor);
    border-radius: 30%;
    cursor: pointer;
}
/* responsive nav bar */
@media all and (max-width:500px){
    nav{
        height: 10vh;
        /* position: relative; */
    }
    .navItems{
        display: none;
        
    }
    .hamburger{
        display: block;
        font-size:xx-large;
        margin-left: auto;
        margin-right: 5px;
    }
    
    .container{
        position: relative;
    }
    .show{
        position: absolute;
        display: flex;
        flex-direction: column;
        /* max-height: 100%; */
        background-color:var(--navBgColor);
        align-items: center;
        right: 100%;
        /* bottom: 10px; */
        top: -4vh;
        padding:10px 0;
        font-size:small;
        border-radius: 10px;
    }
}
/* changing navbar text based on the section */
a.active{
    color: var(--navActiveColor);
}
/* navbar related styling ends here */
section{
    height: 100vh;
}
.h1{
    position: relative;
    top: 12vh;
}
/* Notes styling here */
.notesContainer{
    position: relative;
    overflow: auto;
    max-height:524px ;
    top: 12vh;
    max-width: 780px;
    margin: 0 auto;
    background-color:var(--secondarybgColor);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.notesContainer>h1{
    text-align: center;
    color: var(--btnColor);
}
.notesContainer>form{
    display: flex;
    column-gap: 2px;
    /* justify-content: space-between; */
    margin-top: 20px;
}
.notesContainer>form>input[type=text]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background-color: var(--inputBoxColor);
}
.notesContainer>form>button{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--btnColor);
    border: none;
    color: var(--btnTextColor);
    font-weight: 600;
}
.notesContainer>form>button:hover{
    background-color: var(--btnHoverColor);
}
/* for later */
#viewNotes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    position: relative;
    top: 10px;
}
.note {
    min-width: 240px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    max-height: 300px;
    overflow: auto;
}
.note span{
    clear: both;
}
.note .action-buttons {
    float: right;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
/* responsive notes design */
@media (max-width: 500px) {
    #viewNotes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        position: relative;
        top: 10px;
    }
    .note {
        min-width: 150px;
        font-size: smaller;
    }    
}